# Maven
target/
*.log

# IntelliJ
.idea/
*.iml
*.iws
*.ipr
out/

# OS
.DS_Store
effective-pom.xml

# local zips
*.zip


# dev work, for adding entries to name normalizer with the export tool
11elo_output.txt
api_football_output.txt
bzzoiro_output.txt
clubelo_output.txt
suggested_aliases.txt
truth.txt
docs/feats-bugs-todos.md
